@use "../../../styles/functions.scss";
@use "../../../styles/constants.scss";
@use "../../../styles/mixins.scss";

.anchor-normal {
  text-decoration: none;
  color: constants.$text-dark-theme-color;
  transition: 0.2s ease-in-out;

  &:visited {
    color: constants.$text-dark-theme-color;
  }

  &:hover {
      color: constants.$main-color;
  }

  &:focus-visible {
    color: constants.$main-color;
  }
}

.anchor-button {
  background-color: constants.$main-color;
  color: constants.$text-light-dark-theme-color;
  border-radius: constants.$radius;

  @include mixins.box-shadow;

  &.thin {
    padding: functions.spacing(1) functions.spacing(1.5);
  }

  &.small {
    padding: functions.spacing(1.5) functions.spacing(1.8);
  }

  &.normal {
    padding: functions.spacing(1.6) functions.spacing(2.6);
  }

  &.large {
    padding: functions.spacing(2.2) functions.spacing(2.3);
  }

  &:hover {
    color: inherit;
    transform: translateY(-5px);

    @include mixins.box-shadow-hover;
  }

  &:focus-visible {
    color: inherit;
  }
}