@use "../../../styles/functions.scss";
@use "../../../styles/constants.scss";


.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: functions.spacing(4);
  left: functions.spacing(2);

  & li {
    margin-bottom: functions.spacing(2);
  }

  .social-box {
    background-color: rgba(14, 50, 95, 0);
    padding: 6px;
    border-radius: constants.$radius;
    display: inline-flex;
    align-items: center;
    gap: functions.spacing(1);
    transition: background-color 0.1s linear;

    &:hover {
      background-color: rgba(14, 50, 95, 1);

      & span {
        display: inline;
      }
    }

    & span {
      display: none;
      transition: display 0.1s linear;
    }
  }
}