@use "constants.scss";

html,
body {
  font-family: 'General Sans', sans-serif;
  color: constants.$text-dark-theme-color;
  background-color: constants.$background-dark-theme-color;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: constants.$scrollbar-width;
}

::-webkit-scrollbar-thumb{
  background: constants.$main-color;
  border-radius: 10px;
}