// sizes
$grid-size: 8px;
$header-height: 100px;
$radius: 6px;
$scrollbar-width: 9px;

// colors
$main-color: #1b78e2; // rgb(27, 120, 226)
$main-darker-color: #0e325f;
$image-after-color: #4f46e5;
$text-dark-theme-color: #fff;
$text-secondary-dark-theme-color: $main-color;
$text-light-dark-theme-color: #f1f5f9;
$background-dark-theme-color: #070a13;
$background-secondary-dark-theme-color: #0f1118;

// breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px, // 768px or less needs mobile layout
        lg: 1024px, // Change to vertical focused layout
        xl: 1280px, // Downscale fonts and images if necessary
        xxl: 1536px,
);